.App {
  border-radius: 10px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



body {
  margin: 0;
  overflow-x: hidden;
  /* Skryje vodorovný posuvník */
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.nadpis {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: linear-gradient(135deg, #6e45e2 0%, #8e6bd1 25%, #a491c0 50%, #c2b7af 75%, #88d3ce 100%);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.nadpis:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.obrazek1 {
  width: 100%;
  max-width: 400px;
  border: 3px solid #000;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 20px auto;
  /* Původní odsazení */
  margin-left: 150px;
  /* Posun obrázku doleva o 20px */
  margin-top: 0px;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.obrazek1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.obrazek1-wrapper {
  position: relative;
  display: inline-block;
}


.obrazek2 {
  width: 100%;
  max-width: 440px;
  border: 3px solid #000;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 20px auto;
  /* Původní odsazení */
  margin-right: 100px;
  /* Posun obrázku doprava o 20px */
  margin-top: 30px;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.obrazek2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.popis1 {
  font-size: 20px;
  color: #000;
  padding: 20px;
  margin: -200px 0;
  margin-left: -100px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.popis2 {
  font-size: 20px;
  color: #000;
  padding: 20px;
  margin: -250px 0;
  margin-right: -100px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.obrazek-wrapper {
  position: relative;
  display: inline-block;
}

.obrazek-wrapper.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  /* Skryje přetečení */
}

.obrazek-wrapper.full-screen .obrazek1,
.obrazek-wrapper.full-screen .obrazek2 {
  max-width: 90%;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.popis1,
.popis2 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .nadpis {
    font-size: 36px;
  }

  .obrazek1,
  .obrazek2 {
    max-width: 300px;
  }

  .popis1,
  .popis2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .nadpis {
    font-size: 28px;
  }

  .obrazek1,
  .obrazek2 {
    max-width: 130px;
    margin-top: 10px;
  }

  .obrazek1 {
    margin-left: 10px;
  }

  .obrazek2 {
    margin-right: 10px;
  }

  .popis1,
  .popis2 {
    font-size: 16px;

  }
}